.app__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  padding: 0px 15px;  
  margin: 0px auto;
  min-height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex-direction: row;
}

.content {
  width: 82%;
  background-color: orange;
}